source ~/.vimrc

# https://github.com/JetBrains/ideavim/blob/master/doc/sethandler.md
sethandler <C-D> a:ide
#sethandler <C-R> a:ide
sethandler <F5> a:ide
sethandler <F6> a:ide
sethandler <F7> a:ide
sethandler <F8> a:ide
sethandler <F9> a:ide

map mm :action ToggleBookmark<CR>
map ma :action ShowBookmarks<CR>

nnoremap <C-O> :action Back<CR>
nnoremap <C-I> :action Forward<CR>

" require Tab Shifter plugin 
" https://github.com/dkandalov/tab-shifter
map <C-W>H :action TabShiftActions.ShiftLeft<CR>
map <C-W>J :action TabShiftActions.ShiftDown<CR>
map <C-W>K :action TabShiftActions.ShiftUp<CR>
map <C-W>L :action TabShiftActions.ShiftRight<CR>
